.filter-button{
	color: white;
	font-size: 25px;
	height: 50px;
	width: 300px;
	border-radius: 10px;
	cursor: pointer;
}

.filter-buttons{
	width: 1300px;
	display: flex;
	justify-content: space-around;
	padding: 100px 0;
}

.body{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 9999;
}

.lightbox-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.close-button {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}

.thumbnail {
	width: 100px;
	height: 100px;
	object-fit: cover;
	cursor: pointer;
}

/* Styles for the modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
  }
  
  .modal-gallery {
	max-width: 100%;
	max-height: 100%;
  }
  
  .modal-image {
	max-width: 100%;
	max-height: 100%;
  }
  
  .close {
	color: #fff;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
	cursor: pointer;
  }