.filter-button{
	color: white;
	font-size: 25px;
	height: 50px;
	width: 300px;
	border-radius: 10px;
	cursor: pointer;
}

.filter-buttons{
	width: 1300px;
	display: flex;
	justify-content: space-around;
	padding: 100px 0;
}

.body{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
  }
  
  .image {
	width: 450px;
	height: 600px;
	object-fit: cover;
	cursor: pointer;
	border-radius: 10px;
  }

  .image:hover{
	object-fit: contain;
	cursor: pointer;
	border-radius: 10px;
  }