*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}



a{
    color: black;
    text-decoration: none;
}

header{
    background-color: black;
}

.header-container{
    height: 120px;
    justify-content: space-around;
    padding: 0 150px 0 150px;
}

.header-container, .header-logo, .header-nav{
    display: flex;
    align-items: center;
}

.header-logo{
    color: white;
    cursor: default;
}

.header-nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header-nav ul li{
    padding: 0 20px 0 20px ;
    font-size: 23px;
}

.header-nav ul li a{
    padding: 5px;
    color: white;
    text-decoration: none;
    border: 1px solid black;
}

.header-nav ul li a:hover{
    text-decoration: none;
    border-radius: 8px;
    animation-name: nav-hover;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes nav-hover {
    0%{
        border-bottom: 1px solid white;
    }
    12.5%{
        border-bottom: 1px solid white;
        border-right: 1px solid white;
    }
    25%{
        border-right: 1px solid white;
    }
    37.5%{
        border-right: 1px solid white;
        border-top: 1px solid white;
    }
    50%{
        border-top: 1px solid white;
    }
    62.5%{
        border-top: 1px solid white;
        border-left: 1px solid white;
    }
    75%{
        border-left: 1px solid white;
    }
    87.5%{
        border-left: 1px solid white;
        border-bottom: 1px solid white;
    }
    100%{
        border-bottom: 1px solid white;
    }
}

#hero-background{
    width: 100%;
    height: calc(100vh - 120px);
    object-fit: contain;
    z-index: 1;
}

.galeria {
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}
  
.galeria img {
    width: 400px; 
    height: auto;
    transition: transform 0.5s ease;
}
.galeria img:hover {
    transform: translateX(-25px); 
}

.galeria-text-section{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.galeria-text{
    position: absolute;
    right: 0;
    width: 60%;
    padding: 30px 0px;
}

hr{
    width: 100%;
}

.below-hr-galeria{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    font-size: 2rem;
    color: white;
}

.under-hr-galeria{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    font-size: 1.5rem;
    color: white;
}

.services-link{
    padding: 5px;
    color: white;
    text-decoration: none;
    border: 1px solid black;
    border-bottom: 1px solid white;
}

.services-link:hover{
    text-decoration: none;
    border-radius: 8px;
    animation-name: nav-hover;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}